/** TYPOGRAPHY **/
body {
  color: #444444;
  font-family: 'Old Standard TT', serif;
  font-size: 20px; }

h1, h2, h3, h4, h5 {
  font-family: 'Cabin', sans-serif;
  color: #672518; }

.site {
  margin-left: 100px; }

.main-content {
  max-width: 540px;
  position: relative;
  margin-left: 32px; }

@media screen and (max-width: 600px) {
  .site, .main-content {
    margin-left: 0; } }
@media screen and (min-width: 1400px) {
  .site {
    max-width: 1000px;
    margin: auto; } }
nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px; }
  nav ul {
    padding: 0; }
    nav ul li {
      list-style: none;
      margin: 0; }
      nav ul li a {
        display: block;
        text-align: center;
        padding: 8px 0;
        text-decoration: none;
        color: #ab8763; }

@media screen and (max-width: 600px) {
  nav {
    opacity: 0; } }
header {
  margin: 16px 32px 16px;
  border-bottom: 1px solid #ffeedd; }
  header h1 {
    margin: 0;
    padding-bottom: 4px;
    font-size: 22px; }
  header a {
    text-decoration: none;
    color: #d5300f; }

h1.title {
  font-family: 'Cabin', sans-serif;
  color: #222222; }

.post {
  padding: 16px; }
  .post img {
    max-width: 100%;
    margin: auto;
    display: block; }

.rss-subscribe a {
  color: #d5300f;
  text-decoration: none; }
.rss-subscribe img {
  display: inline-block;
  height: 0.7em;
  vertical-align: baseline; }

.post-list .post-listing {
  list-style: none;
  padding: 16px;
  box-sizing: border-box;
  text-decoration: none; }
  .post-list .post-listing img {
    max-width: 100%; }
  .post-list .post-listing h2 {
    margin: 4px 0;
    font-size: 16px;
    color: #d5300f; }
  .post-list .post-listing .post-meta {
    font-size: 14px;
    color: #ab8763; }

footer {
  font-family: 'Cabin', sans-serif;
  font-size: 14px;
  border-top: 1px solid #ffeedd;
  padding: 16px 0; }
  footer a {
    color: #ab8763;
    margin: 0 8px; }
